<div style="flex-direction: row">
    <app-root-nav> </app-root-nav>
    <div style="margin-left: 200px">
      <div class="flexing">
          <div *ngIf="videos.length === 0">You have not uploaded any videos</div>
        <div *ngFor="let video of videos" class="card example-card back-all">
          <div class="card-header">
            <video width="100%" height="80%" controls="controls">
              <source [src]="video.videoLink" type="video/mp4" />
            </video>
            <div class="card-title">Video title - {{ video.videoTitle }}</div>
            <div>Video Description - {{ video.videoDesc }}</div>
            <!--<button class = "btn btn-success" (click)="videoDisplay()" >open video</button>-->
            <button
              class="btn btn-success"
              [routerLink]="['/view-video', video.videoId, userId]"
            >
              Open Video
            </button>
            <button
              class="btn btn-info"
              (click)="editVideo(video.videoId)"
            >
              Edit Video
            </button>
            <button
              class="btn btn-danger" 
              (click) = "deleteVideo(video.videoId)"
            >
              Delete Video
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  